.wrapper {
  background: none;
  padding: 8px 12px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.wrapper:hover {
  background-color: black;
  color: white;
}
